<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article# " lang="es">
    <head>
    <meta charset="utf-8">
    <meta name="description" content="el blog de Juanjo Conti - abstracto, lúdico y digital">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>En borrador permanente (publicaciones antiguas, página 19) | En borrador permanente</title>

    
            <link href="assets/css/all-nocdn.css" rel="stylesheet" type="text/css">

    
            <link rel="alternate" type="application/rss+xml" title="RSS" href="rss.xml">

      <link rel="canonical" href="http://www.juanjoconti.com.ar/index-19.html">



        <link rel="prev" href="index-20.html" type="text/html">
        <link rel="next" href="index-18.html" type="text/html">

    
        <!--[if lt IE 9]><script src="assets/js/html5.js"></script><![endif]-->

    




</head>
<body>
<a href="#content" class="sr-only sr-only-focusable">Ir al contenido principal</a>

<!-- Menubar -->

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
<!-- This keeps the margins nice -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://www.juanjoconti.com.ar/">

                <span id="blog-title">En borrador permanente</span>
            </a>
        </div>
<!-- /.navbar-header -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                
                <li>
<a href="archive.html">Archives</a>
                </li>
<li>
<a href="categories/index.html">Tags</a>
                </li>
<li>
<a href="rss.xml">RSS feed</a>

                
            </li>
</ul>

            <ul class="nav navbar-nav navbar-right">
                
                
                    
                
            </ul>
        </div>
<!-- /.navbar-collapse -->
    </div>
<!-- /.container -->
</nav>

<!-- End of Menubar -->

<div class="container" id="content" role="main">
    <div class="body-content">
        <!--Body content-->
        <div class="row">
            
            
<div class="postindex">
    <article class="h-entry post-text">
    <header>
        <h1 class="p-name entry-title"><a href="posts/2008/08/02/como-un-viejo-rock-n-roll.html" class="u-url">Como un viejo rock 'n' roll...</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn">Juanjo</span></p>
            <p class="dateline"><a href="posts/2008/08/02/como-un-viejo-rock-n-roll.html" rel="bookmark"><time class="published dt-published" datetime="2008-08-02T20:57:00+00:00" title="2008-08-02 20:57">2008-08-02 20:57</time></a></p>
                <p class="commentline">
        
    <a href="posts/2008/08/02/como-un-viejo-rock-n-roll.html#disqus_thread" data-disqus-identifier="cache/posts/2008/08/02/como-un-viejo-rock-n-roll.html">Comments</a>


        </p>
</div>
    </header>
    <div class="e-content entry-content">
    <div>
<p></p>
<p>El viernes en Santa Fe tuvimos una tarde fría que me encontró paseando por la peatonal San Martín. Como tenía que esperar unos minutos, entré a una disquería a mirar albumenes.</p>
<ul>
<li>
<p>¿Flaco? ¿Qué estás buscando?</p>
</li>
<li>
<p>Hola. Estoy mirando CDs solamente.</p>
</li>
</ul>
<p>Y seguí mirando los albumenes en su celofán original. A los pocos segundos tenía en mi mano una cajita un poco polvorienta. En la tapa tenía dibujada una manada de búfalos negros y uno blanco. Era un CD de una banda oriunda de <a title="San Carlos Centro" href="http://es.wikipedia.org/wiki/San_Carlos_Centro" target="_blank">San Carlos Centro</a>. Lo anecdótico de la historia es que hace unos 8 años me pasaron unos mp3 de canciones de esta banda, y aún recordaba el single principal.</p>
<p>Salía $15 y parecía estar esperando en la estantería de grupos locales por mucho tiempo. No se si por nostalgia de aquellos años (qué encierran muchas historias) o por puro <a title="Comprar por impulso" href="http://es.wikipedia.org/wiki/Compra_por_impulso" target="_blank">comprador compulsivo</a> me lo llevé a casa. La siguiente es la lista de temas que incluye el trabajo:</p>
<!--more-->

<p></p>
<h3>Como un viejo rock 'n' roll - Búfalo Blanco</h3>
<p>1 Resignado a perderte</p>
<p>2 Como un viejo rock 'n' roll</p>
<p>3 Dulce adicción</p>
<p>4 Uvita (torrontes)</p>
<p>5 En la ruta</p>
<p>6 Extraña relación</p>
<p>7 Otra oportunidad</p>
<p>8 El viejo Orsi</p>
<p>9 Vacío cerebral</p>
<p>10 Aún te amo</p>
<p>11 Confusión</p>
<p>12 Es por tus ojos</p>
</div>
    </div>
    </article>
    <article class="h-entry post-text">
    <header>
        <h1 class="p-name entry-title"><a href="posts/2008/07/29/buen-viaje-y-nuevo-blog-en-la-familia.html" class="u-url">Buen viaje! y nuevo blog en la familia</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn">Juanjo</span></p>
            <p class="dateline"><a href="posts/2008/07/29/buen-viaje-y-nuevo-blog-en-la-familia.html" rel="bookmark"><time class="published dt-published" datetime="2008-07-29T21:05:30+00:00" title="2008-07-29 21:05">2008-07-29 21:05</time></a></p>
                <p class="commentline">
        
    <a href="posts/2008/07/29/buen-viaje-y-nuevo-blog-en-la-familia.html#disqus_thread" data-disqus-identifier="cache/posts/2008/07/29/buen-viaje-y-nuevo-blog-en-la-familia.html">Comments</a>


        </p>
</div>
    </header>
    <div class="e-content entry-content">
    <div>
<p></p>
<p>Mi hermana está partiendo esta semana para <a href="http://es.wikipedia.org/wiki/Florian%C3%B3polis" title="Floripa" target="_blank">Florianópolis (Brasil)</a>. Va a estar estudiando el próximo cuatrimestre en la <a href="http://www.ufsc.br/" title="Universidad Federal de Santa Catarina" target="_blank">UFSC</a> y para documentar la experiencia empezó un blog: <a href="http://marisuconti.wordpress.com/" title="Blog de Marisú" target="_blank">http://marisuconti.wordpress.com/</a></p>
<p>Buen viaje y bienvenida a la blogósfera!</p>
</div>
    </div>
    </article>
    <article class="h-entry post-text">
    <header>
        <h1 class="p-name entry-title"><a href="posts/2008/07/27/the-bing-bang-theory-theme-song-bare-naked-ladies.html" class="u-url">The Bing Bang Theory Theme Song</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn">Juanjo</span></p>
            <p class="dateline"><a href="posts/2008/07/27/the-bing-bang-theory-theme-song-bare-naked-ladies.html" rel="bookmark"><time class="published dt-published" datetime="2008-07-27T01:37:20+00:00" title="2008-07-27 01:37">2008-07-27 01:37</time></a></p>
                <p class="commentline">
        
    <a href="posts/2008/07/27/the-bing-bang-theory-theme-song-bare-naked-ladies.html#disqus_thread" data-disqus-identifier="cache/posts/2008/07/27/the-bing-bang-theory-theme-song-bare-naked-ladies.html">Comments</a>


        </p>
</div>
    </header>
    <div class="e-content entry-content">
    <div>
<p></p>
<blockquote>
<strong>The Bing Bang Theory Theme Song - Bare Naked Ladies</strong>Our whole universe was in a hot dense state,
<p>Then nearly fourteen billion years ago expansion started. Wait...</p>
<p>The Earth began to cool,</p>
<p>The autotrophs began to drool,</p>
<p>Neanderthals developed tools,</p>
<p>We built a wall (we built the pyramids),</p>
<p>Math, science, history, unraveling the mysteries,</p>
<p>That all started with the big bang!</p>
<p>"Since the dawn of man" is really not that long,</p>
<p>As every galaxy was formed in less time than it takes to sing this song.</p>
<p>A fraction of a second and the elements were made.</p>
<p>The bipeds stood up straight,</p>
<p>The dinosaurs all met their fate,</p>
<p>They tried to leap but they were late</p>
<p>And they all died (they froze their asses off)</p>
<p>The oceans and pangea</p>
<p>See ya, wouldn't wanna be ya</p>
<p>Set in motion by the same big bang!</p>
<p>It all started with the big BANG!</p>
<p>It's expanding ever outward but one day</p>
<p>It will cause the stars to go the other way,</p>
<p>Collapsing ever inward, we won't be here, it wont be hurt</p>
<p>Our best and brightest figure that it'll make an even bigger bang!</p>
<p>Australopithecus would really have been sick of us</p>
<p>Debating out while here they're catching deer (we're catching viruses)</p>
<p>Religion or astronomy, Encarta, Deuteronomy</p>
<p>It all started with the big bang!</p>
<p>Music and mythology, Einstein and astrology</p>
<p>It all started with the big bang!</p>
<p>It all started with the big BANG!</p>
</blockquote>
</div>
    </div>
    </article>
    <article class="h-entry post-text">
    <header>
        <h1 class="p-name entry-title"><a href="posts/2008/07/11/hoy-se-recibieron-mariano-y-nico.html" class="u-url">Hoy se recibieron Mariano y Nico</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn">Juanjo</span></p>
            <p class="dateline"><a href="posts/2008/07/11/hoy-se-recibieron-mariano-y-nico.html" rel="bookmark"><time class="published dt-published" datetime="2008-07-11T22:59:03+00:00" title="2008-07-11 22:59">2008-07-11 22:59</time></a></p>
                <p class="commentline">
        
    <a href="posts/2008/07/11/hoy-se-recibieron-mariano-y-nico.html#disqus_thread" data-disqus-identifier="cache/posts/2008/07/11/hoy-se-recibieron-mariano-y-nico.html">Comments</a>


        </p>
</div>
    </header>
    <div class="e-content entry-content">
    <div>
<p></p>
<p>Hay 2 nuevos ingenieros en la ciudad. Hoy en un laboratorio de la UTN facultad regional Santa Fe, mis amigos Mariano Galán y Nicolás César presentaron su proyecto final de carrera.</p>
<p><img src="wp-content/uploads/2008/07/collage.gif" alt="Nico_Y_Mariano"></p>
<p>Bruno <a title="Fotos por Bruno" href="http://picasaweb.google.com/bgnoatto/MarianoNicoCesarIngenierosRecibimiento" target="_blank">publicó sus fotos</a> y César <a title="Fotos por César" href="http://www.cesaremilioportela.com.ar/fotos001/" target="_blank">también</a>.</p>
</div>
    </div>
    </article>
    <article class="h-entry post-text">
    <header>
        <h1 class="p-name entry-title"><a href="posts/2008/07/11/decoradores-en-python-i.html" class="u-url">Decoradores en Python (I) - Introducción</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn">Juanjo</span></p>
            <p class="dateline"><a href="posts/2008/07/11/decoradores-en-python-i.html" rel="bookmark"><time class="published dt-published" datetime="2008-07-11T01:30:14+00:00" title="2008-07-11 01:30">2008-07-11 01:30</time></a></p>
                <p class="commentline">
        
    <a href="posts/2008/07/11/decoradores-en-python-i.html#disqus_thread" data-disqus-identifier="cache/posts/2008/07/11/decoradores-en-python-i.html">Comments</a>


        </p>
</div>
    </header>
    <div class="e-content entry-content">
    <div>
<p></p>
<p>Este artículo es el primero de un plan de 3 artículos. Empezamos con una introducción a los decoradores en Python.</p>
<!--more-->

<p></p>
<h3>Funciones</h3>
<p>Cómo todo en Python, las funciones son objetos. La forma más común de crear un objeto de tipo &lt;function&gt;  es mediante el keyword def:</p>
<pre>def saludo():

    print "Hola"</pre>

<p>Al realizar esta definición, el cuerpo de la función es compilado pero no ejecutado y el objeto de tipo &lt;function&gt;  es asociado al nombre 'saludo'. Mediante este nombre podemos referirnos al objeto:</p>
<pre>&gt;&gt;&gt; saludo

&lt;function saludo at 0xb7d82fb4&gt;</pre>

<p>y utilizando la notación de paréntesis podemos llamar a (ejecutar) la función.</p>
<pre>&gt;&gt;&gt; saludo()

Hola</pre>

<p>Una función puede tener parámetros (los parámetros son nombres a los que podemos referirnos en el cuerpo de la función):</p>
<pre>def saludo2(nombre):

    print "Hola %s" % nombre</pre>

<pre>def saludo3(nombre, apellido):

    print "Hola %s %s" % (nombre, apellido)</pre>

<p>Cuando llamamos a la función con argumentos (los argumentos son valores que en principio se asocian uno a uno a los parámetros de la función):</p>
<pre>&gt;&gt;&gt; saludo2("Ceci")

Hola Ceci</pre>

<pre>&gt;&gt;&gt; saludo3("Ceci", "Pucci")

Hola Ceci Pucci</pre>

<p>Los últimos n parámetros pueden tener valores por defecto, entonces estas definiciones y sus consiguientes ejecuciones son válidas:</p>
<pre>def saludo4(nombre, apellido="Conti"):

    print "Hola %s %s" % (nombre, apellido)</pre>

<pre>&gt;&gt;&gt; saludo4("Juanjo")

Hola Juanjo Conti</pre>

<pre>&gt;&gt;&gt; saludo4("Juanjo", "Garau")

Hola Juanjo Garau</pre>

<pre>def saludo5(nombre="Juanjo", apellido="Conti"):

    print "Hola %s %s" % (nombre, apellido)</pre>

<pre>&gt;&gt;&gt; saludo5()

Hola Juanjo Conti</pre>

<pre>&gt;&gt;&gt; saludo5("Mary")

Hola Mary Conti</pre>

<p>Los últimos n argumentos pueden ser argumentos nombrados, es decir utilizando el nombre de los parámetros con los que el argumento se debe asociar. En las siguientes ejecuciones se pueden ver ejemplos de esto:</p>
<pre>def saludo6(tratamiento, nombre, apellido):

    print "Hola %s %s %s" % (tratamiento, nombre, apellido)</pre>

<pre>&gt;&gt;&gt; saludo6("Sr.", apellido="Conti", nombre="Juanjo")

Hola Sr. Juanjo Conti</pre>

<pre>&gt;&gt;&gt; saludo6("Sr.", "Juanjo", apellido="Conti")

Hola Sr. Juanjo Conti</pre>

<p>Los parámetros de una función pueden terminar con <em>&lt;nombre&gt;  (una tupla con los últimos argumentos posicionales) y/o </em>*&lt;nombre&gt;  (un diccionario con los últimos argumentos nombrados).</p>
<pre>def saludo7(tratamiento, *args):

    print "Hola %s %s" % (tratamiento, " ".join(args))</pre>

<pre>&gt;&gt;&gt; saludo7("Sr.", "Juanjo", "Conti")

Hola Sr. Juanjo Conti</pre>

<pre>&gt;&gt;&gt; saludo7("Sr.", "Juanjo", "Conti", "Garau")

Hola Sr. Juanjo Conti Garau</pre>

<p>Notemos que esta forma de definir una función es bastante útil cuando no sabemos el número de argumentos que se recibirán.</p>
<p>La siguiente es la forma más genérica de definir una función:</p>
<pre>def saludo8(*args, **kwargs):

    pass</pre>

<h3>Decoradores</h3>

<p>Un decorador es una función 'd' que recibe como argumento otra función 'a' y retorna una nueva función 'b'. La nueva función 'b' es la función 'a' decorada con 'd'.</p>
<p>Supongamos que queremos avisarle a un sistema de seguridad cada vez que se ejecutan las funciones abrir_puerta y cerrar_puerta. Para hacer una simplificación, el aviso simplemente será imprimir por un mensaje en la pantalla. Podemos escribir el siguiente 'decorador':</p>
<pre>def avisar(f):

    def inner(*args, **kwargs):

        f(*args, **kwargs)

        print "Se ha ejecutado %s" % f.__name__

    return inner</pre>

<p>Las siguientes son las funciones a decorar:</p>
<pre>def abrir_puerta():

    print "Abrir puerta"



def cerrar_puerta():

    print "Cerrar puerta"</pre>

<pre>&gt;&gt;&gt; abrir_puerta()

Abrir puerta

&gt;&gt;&gt; cerrar_puerta()

Cerrar puerta</pre>

<p>Y ahora solo nos limitamos a seguir la definción que di al principio de un decorador:</p>
<pre>abrir_puerta = avisar(abrir_puerta)

cerrar_puerta = avisar(cerrar_puerta)</pre>

<p>Listo!, ambas funciones han sido decoradas:</p>
<pre>&gt;&gt;&gt; abrir_puerta()

Abrir puerta

Se ha ejecutado abrir_puerta

&gt;&gt;&gt; cerrar_puerta()

Cerrar puerta

Se ha ejecutado cerrar_puerta</pre>

<h3>Azúca sintáctica</h3>

<p>En Python 2.3, la anterior era la forma de decorar una función. A partir de Python 2.4 se a añadido azúcar sintáctica al lenguaje que nos permite hacer lo mismo de esta forma:</p>
<pre>@avisar

def abrir_puerta():

    print "Abrir puerta"



@avisar

def cerrar_puerta():

    print "Cerrar puerta"</pre>

<p>Esta es una forma mucho más visual de hacerlo.</p>
<h3>Encadenando decoradores</h3>

<p>La decoración de funciones puede encadenarse. Para ejemplificarlo vamos a suponer ahora que solo usuarios autenticados en el sistema pueden ejecutar las funciones abrir_puerta y cerrar puerta.</p>
<p>Nuevamente hacemos una simplificación. Existe la variable AUTHENTICATED que indica el estado del usuario actual. Si el usuario no está autenticado y se intente ejecutar alguna de las funciones, una excepción es lanzada.</p>
<pre>def autenticado(f):

    def inner(*args, **kwargs):

        if AUTHENTICATED:

            f(*args, **kwargs)

       else:

           raise Exception

    return inner</pre>

<p>Luego, la definición de abrir_puerta y cerrar_puerta debería ser:</p>
<pre>@autenticado

@avisar

def abrir_puerta():

    print "Abrir puerta"



@autenticado

@avisar

def cerrar_puerta():

    print "Cerrar puerta"</pre>

<p>Con AUTHENTICATED = True:</p>
<pre>&gt;&gt;&gt; cerrar_puerta()

Cerrar puerta</pre>

<p>Se ha ejecutado cerrar_puerta</p>
<p>Pero si AUTHENTICATED = False:</p>
<pre>&gt;&gt;&gt; cerrar_puerta()

Traceback (most recent call last):

File "&lt;stdin&gt; ", line 1, in &lt;module&gt;

File "&lt;stdin&gt; ", line 6, in inner

Exception</pre>

<p><strong>update:</strong> <a href="http://www.juanjoconti.com.ar/2009/07/16/decoradores-en-python-ii/" target="_blank">2° entrega</a>.</p>
</div>
    </div>
    </article>
    <article class="h-entry post-text">
    <header>
        <h1 class="p-name entry-title"><a href="posts/2008/06/28/django-messages-en-espanol.html" class="u-url">django-messages en español</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn">Juanjo</span></p>
            <p class="dateline"><a href="posts/2008/06/28/django-messages-en-espanol.html" rel="bookmark"><time class="published dt-published" datetime="2008-06-28T20:58:11+00:00" title="2008-06-28 20:58">2008-06-28 20:58</time></a></p>
                <p class="commentline">
        
    <a href="posts/2008/06/28/django-messages-en-espanol.html#disqus_thread" data-disqus-identifier="cache/posts/2008/06/28/django-messages-en-espanol.html">Comments</a>


        </p>
</div>
    </header>
    <div class="e-content entry-content">
    <div>
<p></p>
<a href="http://code.google.com/p/django-messages" title="Messages" target="_blank">django-messages</a> es una aplicación que podemos integrar en nuestro proyecto Django para permitir a los usuarios enviarse mensajes entre ellos.
<p>Hoy la traducimos con Ceci al español (es_AR, en realidad) mientras por IRC uno de los miembros del proyecto nos indicaba dónde tocar (nunca habíamos traducido una aplicación Django). Disponible desde la <a href="http://code.google.com/p/django-messages/source/detail?r=41" title="41" target="_blank">revisión 41</a>.</p>
<p>Nuestra traducción, por si alguien tiene sugerencias o correcciones: <a href="http://code.google.com/p/django-messages/source/browse/branches/django-trunk/messages/locale/es_AR/LC_MESSAGES/django.po?r=41" title=".po" target="_blank">es_AR</a>.</p>
</div>
    </div>
    </article>
    <article class="h-entry post-text">
    <header>
        <h1 class="p-name entry-title"><a href="posts/2008/06/28/usando-django-notification.html" class="u-url">Usando django-notification</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn">Juanjo</span></p>
            <p class="dateline"><a href="posts/2008/06/28/usando-django-notification.html" rel="bookmark"><time class="published dt-published" datetime="2008-06-28T01:54:51+00:00" title="2008-06-28 01:54">2008-06-28 01:54</time></a></p>
                <p class="commentline">
        
    <a href="posts/2008/06/28/usando-django-notification.html#disqus_thread" data-disqus-identifier="cache/posts/2008/06/28/usando-django-notification.html">Comments</a>


        </p>
</div>
    </header>
    <div class="e-content entry-content">
    <div>
<p></p>
<a href="http://code.google.com/p/django-notification" target="_blank">django-notification</a> es una aplicación para Django que permite al resto de las aplicaciones de un proyecto enviar notas a los usuarios. Así, cuando la aplicación Stock detecta que el número de bulones que hay en el depósito es menor límite de reposición puede enviar una nota de tipo "Avisos prioritarios" al usuario responsable del depósito. Esta nota puede ser recibida por mail, feed o mostrarse en el sistema cuando el usuario inicia su sesión.
<p>El siguiente es un artículo del proyecto que hemos traducido yo y Cecilia.</p>
<!--more-->

<h3>Integrar Notification</h3>

<p>Integrar notification a tu aplicación es un proceso simple de dos pasos.</p>
<ol>

    <li>crear tus tipos de notas (Notice Type)</li>

    <li>enviar notificaciones</li>

</ol>

<h4>Crear tipos de notas (Notice Type)</h4>

<p>Debes ejecutar <code>create_notice_type(label, display, description)</code> una vez para crear los tipos de notas para tu aplicación en la base de datos. <code>label</code> es un nombre interno, corto, que será usado para el tipo, <code>display</code> es lo que el usuario verá como el nombre del tipo de nota y <code>description</code> es una descripción corta.</p>
<p>Por ejemplo:</p>
<pre>

from django.dispatch import dispatcher

from django.db.models import signals



try:

    from notification import models as notification



    def create_notice_types(app, created_models, verbosity, **kwargs):

        notification.create_notice_type("invitacion_amigo", u"Invitación recibida",

                                                     u"has recibido una invitación")

        notification.create_notice_type("invitacion_aceptada", u"Invitación aceptada",

                                                     u"una invitación que enviaste fue aceptada")



    dispatcher.connect(create_notice_types, signal=signals.post_syncdb, sender=notification)

except ImportError:

    print "No se encontró la aplicación notification, no se crearán objetos del tipo NoticeTypes"</pre>

<p>Notar que el código está envuelto con un try para que si django-notification no está instalado, tu aplicación funcione de todas formas.</p>
<h4>Enviar notificaciones</h4>

<p>Para enviar mensajes se usa <code>send(users, notice_type_label, message_template, object_list, issue_notice)</code> dónde <code>object_list</code> y <code>issue_notice</code> son opcionales.</p>
<p><code>users</code> es una lista de usuarios que deben recibir la nota. <code>notice_type_label</code> es la etiqueta que usaste en el paso previo para identificar un tipo de nota. <code>message_template</code> es solo un string, aunque si <code>object_list</code> no está vacía, entonces <code>message_template</code> debe contener tantos <code>%s</code> como objetos en <code>object_list</code>. Entonces serán reemplazados con referencias a los correspondientes objetos de <code>object_list</code>.</p>
<p>Por ejemplo:</p>
<pre>

notification.send([to_user], "invitacion_amigo", "%s solicita ser tu amigo.", [from_user])</pre>

<p>enviará una nota de tipo <code>invitacion_amigo</code> a <code>to_user</code> con el mensaje <code>XXX solicita ser tu amigo.</code> dónde XXX es una referencia al objeto <code>from_user</code>. Dependiendo del medio de notificación, esta referencia será un link o solo texto plano.</p>
<p><code>issue_notice</code> es <code>True</code> por defecto pero se puede cambiar a <code>False</code> si querés que una notificación se envíe pero no se persista como un objeto de tipo <code>Notice</code> en la base de datos.</p>
<p>Para permitir que tu aplicación funcione sin notification, podés envolver el import en un try y testear si el módulo fue cargado antes de enviar la nota.</p>
<p>Por ejemplo:</p>
<pre>

try:

    from notification import models as notification

except ImportError:

    notification = None</pre>

<p>y luego:</p>
<pre>

if notification:

    notification.send([to_user], "invitacion_amigo", "%s solicita ser tu amigo.", [from_user])</pre>

<p></p>
</div>
    </div>
    </article>
    <article class="h-entry post-text">
    <header>
        <h1 class="p-name entry-title"><a href="posts/2008/06/27/generar-archivos-rtf-en-forma-dinamica-desde-django.html" class="u-url">Generar archivos rtf en forma dinámica desde Django</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn">Juanjo</span></p>
            <p class="dateline"><a href="posts/2008/06/27/generar-archivos-rtf-en-forma-dinamica-desde-django.html" rel="bookmark"><time class="published dt-published" datetime="2008-06-27T15:33:46+00:00" title="2008-06-27 15:33">2008-06-27 15:33</time></a></p>
                <p class="commentline">
        
    <a href="posts/2008/06/27/generar-archivos-rtf-en-forma-dinamica-desde-django.html#disqus_thread" data-disqus-identifier="cache/posts/2008/06/27/generar-archivos-rtf-en-forma-dinamica-desde-django.html">Comments</a>


        </p>
</div>
    </header>
    <div class="e-content entry-content">
    <div>
<p></p>
<p>En mi anterior artículo les conté sobre <a href="http://www.juanjoconti.com.ar/2008/06/12/soporte-unicode-para-pyrtf-ng/" title="pyrtf-ng" target="_blank">pyrtf-ng</a>, una librería para generar <a href="http://es.wikipedia.org/wiki/Rich_Text_Format" title="Rich Text Format" target="_blank">archivos rtf</a> en forma fácil desde un programa escrito en Python. Fue la primer alternativa que manejamos a la hora de plantearnos el problema de generar archivos rtf en forma dinámica desde <a href="http://www.djangoproject.com" title="Django project" target="_blank">Django</a>.</p>
<p>En este artículo les cuento el <em>aproach</em> que finalmente adoptamos. Si la naturaleza dinámica del documento que queremos generar radica en que ciertas partes del texto tendrán valores dinámicos o ciertas partes pueden estar o no dependiendo de alguna condición, lo que podemos hacer es utilizar un sistema de templates. El formato rtf es un lenguaje de marcas (es texto, no binario!). Por lo que fácilmente podemos usar el <a href="http://www.djangoproject.com/documentation/templates/" target="_blank">subsistema de templates de Django</a> para lograr nuestro objetivo.<!--more--></p>
<p></p>
<h3>Un ejemplo de lo que queremos obtener</h3>
<p>Simplificando, si en el sistema la variable <code>nombre</code> vale <code>"Juan"</code> y la variable <code>tratamiento</code> es <code>False</code>, el resultado esperado en el archivo rtf es:</p>
<blockquote>Hola Juan</blockquote>

<p>Si la variable <code>nombre</code> vale <code>"Raúl"</code>, la variable <code>tratamiento</code> es <code>"Sr."</code> el resultado esperado en el archivo rtf es:</p>
<blockquote>Hola Sr. Raúl</blockquote>

<p>Para lograrlo necesitamos un archivo hola.rtf (puede tener cualquier nombre y cualquier extensión, pero estos parecen apropiados para el ejemplo) ubicado en algún <a href="http://www.djangoproject.com/documentation/settings/#template-dirs" title="Definido en settings.py" target="_blank">directorio accesible por el subsistema de templates</a>. Tip: crear un archivo rtf con OpenOffice Writer o WordPad y luego editarlo con un editor de texto para agregar las marcas necesarias para que Django lo procese.</p>
<h3>El template</h3>

<p>Así se ve el template del ejemplo cuando lo abrimos con un editor de texto, luego de agregar las marcas correspondientes:</p>
<p><code></code></p>
<p><strong>{% load filtros %}</strong>{\rtf1\ansi\deff0\adeflang1025</p>
<p>{\fonttbl{\f0\froman\fprq2\fcharset0 Bitstream Vera Sans;}{\f1\froman\fprq2\fcharset0 Bitstream Vera Sans;}{\f2\fswiss\fprq2\fcharset0 Bitstream Vera Sans;}{\f3\fnil\fprq2\fcharset0 Bitstream Vera Sans;}}</p>
<p>{\colortbl;\red0\green0\blue0;\red128\green128\blue128;}</p>
<p>[....]</p>
<p>{\rtlch \ltrch\loch\f0\fs24\lang11274\i0\b0 Hola <strong>{% if tratamiento %}{{ tratamiento }} {% endif %}{{ nombre|rtf }}</strong>}</p>
<p>\par }</p>
<p></p>
<p>El encabezado suele ser largo (esto depende del programa utilizado para crear el documento, con WordPad se obtienen los encabezados más cortos). Las partes importantes están resaltadas en <strong>negrita</strong>.</p>
<p>El bloque <code>load</code> carga el filtro de nombre rtf que luego es usado. Notar que este bloque debe incluirse en la misma línea que la primer línea del documento o en alguna línea siguiente, pero nunca en la primer línea del archivo y solo. Esto provocará una línea en blanco al principio del documento resultante, un error de sintaxis en el formato rtf, y por lo tanto no podrá ser interpretado por los procesadores de palabras.</p>
<h3>Un filtro para codificar caracteres Unicode en rtf</h3>

<p>Como rtf no soporta nativamente caracteres Unicode (tildes y otros caracteres no ascii), estos deben ser codificados para ser correctamente interpretados. El siguiente filtro hace esa tarea, es un <a href="http://www.djangoproject.com/documentation/templates_python/#template-filters-that-expect-strings" target="_blank">string filter</a> de Django:</p>
<pre>

@register.filter(name='rtf')

@stringfilter

def rtf(value):

    if isinstance(value, UnicodeType):

        return "".join(["u%s?" % str(ord(c)) for c in value])

    return value</pre>

<p></p>
</div>
    </div>
    </article>
    <article class="h-entry post-text">
    <header>
        <h1 class="p-name entry-title"><a href="posts/2008/06/12/soporte-unicode-para-pyrtf-ng.html" class="u-url">Soporte Unicode para pyrtf-ng</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn">Juanjo</span></p>
            <p class="dateline"><a href="posts/2008/06/12/soporte-unicode-para-pyrtf-ng.html" rel="bookmark"><time class="published dt-published" datetime="2008-06-12T00:04:28+00:00" title="2008-06-12 00:04">2008-06-12 00:04</time></a></p>
                <p class="commentline">
        
    <a href="posts/2008/06/12/soporte-unicode-para-pyrtf-ng.html#disqus_thread" data-disqus-identifier="cache/posts/2008/06/12/soporte-unicode-para-pyrtf-ng.html">Comments</a>


        </p>
</div>
    </header>
    <div class="e-content entry-content">
    <div>
<p></p>
<p><a href="http://code.google.com/p/pyrtf-ng" title="code" target="_blank">pyrtf-ng</a> es un módulo para Python que permite generar archivos en formato <a href="http://en.wikipedia.org/wiki/Rich_Text_Format" title="RTF" target="_blank">RTF</a> en forma dinámica. Esta semana empecé a probarlo con la idea de usarlo para generar documentos de texto con formato (<a href="http://es.wikipedia.org/wiki/DOC" title=".doc?" target="_blank">Word</a>-like) en forma dinámica.</p>
<p></p>
<p></p>
<p>Al intentar instalarlo tuve algunos problemas , se los comenté al autor y le sugerí soluciones. Rápidamente estas modificaciones estuvieron hechas en el repositorio del proyecto.</p>
<p></p>
<p></p>
<p>Una vez que tuve la librería instalada y los ejemplos corriendo, empecé a modificar algunos para experimentar un poco. Cuando quise generar un documento que contenga una palabra con tilde (cómo <code>canción</code>), el programa tiró una horrible excepción. Esto hacía que desechara totalmente la idea de usar este software.</p>
<p></p>
<p></p>
<p>Leí sobre la codificación utilizada por el formato RTF y descubrí que <a href="http://en.wikipedia.org/wiki/Rich_Text_Format#Character_encoding" title="RTF Encoding" target="_blank">no soporta Unicode</a> en forma nativa, pero si mediante una secuencia de escape de la forma: <code>\uxxxx?</code> en dónde <code>xxxx</code> es un entero con signo de 16 bits correspondiente al caracter que se quiere representar. Ejemplo: <a href="http://www.fileformat.info/info/unicode/char/00e1/index.htm" title="LATIN SMALL LETTER A WITH ACUTE" target="_blank">á</a>.</p>
<p></p>
<p></p>
<p>Pedí instrucciones al autor de la librería, quien me indicó que partes del código tendría que revisar par incluir la funcionalidad de soportar Unicode. Luego de algunas horas empapándome en la arquitectura de clases de pyrtf, tenía un parche listo para ser aplicado e incorporar la funcionalidad. Hoy <a href="http://code.google.com/p/pyrtf-ng/source/detail?r=69" title="Parche para Unicode" target="_blank">fue incluido</a> en la versión en desarrollo de la librería.</p>
<h3>Código</h3>

<p>Un pequeño snippet que muestra el algoritmo básico para pasar de un string Unicode a su representación codificada en RTF:</p>
<p><code>encoded = ''.join(['\u%s?' % str(ord(b)) for b in base])</code></p>
<h3>Datos</h3>

<ul>

    <li>pyrtf-ng es mantenido por <a href="http://oubiwann.blogspot.com/" title="Duncan's blog" target="_blank">Duncan Mc Greggor</a> y está basado en <a href="http://pyrtf.sourceforge.net/" title="PyRTF" target="_blank">PyRTF,</a> un proyecto que ya no es mantenido.</li>

    <li>Se encuentra en activo desarrollo: modificación del <a href="http://www.python.org/dev/peps/pep-0008/" title="PEP8" target="_blank">estilo</a> del código y <em>refactoring</em>.</li>

    <li>También puede ser modificado mediante bazaar en <a href="https://launchpad.net/pyrtf" title="Launchpad" target="_blank">lauchpad</a>.</li>

</ul>

<p></p>
</div>
    </div>
    </article>
    <article class="h-entry post-text">
    <header>
        <h1 class="p-name entry-title"><a href="posts/2008/06/08/un-meta-chiste.html" class="u-url">Un meta chiste</a></h1>
        <div class="metadata">
            <p class="byline author vcard"><span class="byline-name fn">Juanjo</span></p>
            <p class="dateline"><a href="posts/2008/06/08/un-meta-chiste.html" rel="bookmark"><time class="published dt-published" datetime="2008-06-08T18:46:49+00:00" title="2008-06-08 18:46">2008-06-08 18:46</time></a></p>
                <p class="commentline">
        
    <a href="posts/2008/06/08/un-meta-chiste.html#disqus_thread" data-disqus-identifier="cache/posts/2008/06/08/un-meta-chiste.html">Comments</a>


        </p>
</div>
    </header>
    <div class="e-content entry-content">
    <div>
<p></p>
<blockquote>Un español, un mexicano y un argentino entran a un bar. El barman se
<p>da vuelta, los mira unos segundos y dice:</p>
<p>— ¿Qué es esto, un chiste?</p>
</blockquote>
</div>
    </div>
    </article>
</div>

        <nav class="postindexpager">
        <ul class="pager">
            <li class="previous">
                <a href="index-20.html" rel="prev">Publicaciones posteriores</a>
            </li>
            <li class="next">
                <a href="index-18.html" rel="next">Publicaciones anteriores</a>
            </li>
        </ul>
        </nav>


        
       <script>var disqus_shortname="nikolademo";(function(){var a=document.createElement("script");a.async=true;a.src="//"+disqus_shortname+".disqus.com/count.js";(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(a)}());</script>





        </div>
        <!--End of body content-->

        <footer>
            Contents © 2015         <a href="mailto:jjconti@gmail.com">Juanjo</a> - Powered by         <a href="http://getnikola.com" rel="nofollow">Nikola</a>         
            
        </footer>
    </div>
</div>


            <script src="assets/js/all-nocdn.js"></script>
        <script src="assets/js/colorbox-i18n/jquery.colorbox-es.js"></script>
    
<!-- Social buttons -->
<div id="addthisbox" class="addthis_toolbox addthis_peekaboo_style addthis_default_style addthis_label_style addthis_32x32_style">
<a class="addthis_button_more">Share</a>
<ul>
<li>
<a class="addthis_button_facebook"></a>
</li>
<li>
<a class="addthis_button_google_plusone_share"></a>
</li>
<li>
<a class="addthis_button_linkedin"></a>
</li>
<li>
<a class="addthis_button_twitter"></a>
</li>
</ul>
</div>
<script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4f7088a56bb93798"></script>
<!-- End of social buttons -->


    <script>$('a.image-reference:not(.islink)').colorbox({rel:"gal",maxWidth:"100%",maxHeight:"100%",scalePhotos:true});</script>
    <!-- fancy dates -->
    <script>
    moment.locale("es");
    fancydates(0, "YYYY-MM-DD HH:mm");
    </script>
    <!-- end fancy dates -->
    


</body>
</html>
